.navbar {
  height: 80px;
  display: flex;
  width: 100%;
  z-index: 1000;
  position: fixed;
  z-index: 900;
  background-color: #fff;
  top: 0;
  .wrapper {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
      transform: scale(1);
      transition: all 500ms ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }
    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .center {
      font-size: 30px;
      letter-spacing: 2px;
      transform: scale(1);
      transition: all 500ms ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;

        .cartIcon {
          position: relative;
          span {
            font-size: 12px;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background-color: #2879fe;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    .wrapper {
      padding: 10px 15px;
      // display: flex;

      .item {
        font-size: 18px;
      }
      .left {
        gap: 20px;
      }
      .center {
        font-size: 27px;
      }
      .right {
        gap: 20px;

        .icons {
          gap: 12px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .navbar {
    .wrapper {
      padding: 10px 15px;

      .hide {
        display: none;
      }

      .left {
        gap: 17px;
      }

      .right {
        gap: 0px;

        .icons {
          gap: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .navbar {
    .wrapper {
      padding: 10px 15px;

      .left {
        display: none;
      }

      .right {
        .icons {
          gap: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .navbar {
    .wrapper {
      padding: 10px 10px;
      .center {
        font-size: 26px;
      }
      .right {
        .icons {
          gap: 8px;
        }
      }
    }
  }
}
@media only screen and (max-width: 390px) {
  .navbar {
    .wrapper {
      .center {
        &:hover {
          transform: scale(1);
        }
      }
      .right {
        .icons {
          .hideIcon {
            display: none;
          }
        }
      }
    }
  }
}

@keyframes cart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
