.cart {
  position: absolute;
  right: 5px;
  top: 80px;
  z-index: 100000;
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
  animation: cart-appear 600ms ease-in-out forwards;
  height: 80vh;
  overflow-y: auto;
  margin-bottom: 20px;
  width: 400px;

  h1 {
    margin-bottom: 30px;
    color: gray;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;

    img {
      width: 80px;
      height: 100px;
      object-fit: cover;
    }

    .details {
      h1 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0;
        text-align: center;
        text-transform: capitalize;
      }
      p {
        color: gray;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
      }
      .price {
        color: #2879fe;
        text-align: center;
      }
    }

    .delete {
      color: red;
      font-size: 30px;
      cursor: pointer;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }
  button {
    width: 100%;
    padding: 12px;
    background-color: #2879fe;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .reset {
    color: red;
    font-size: 13px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 420px) {
  .cart {
    width: 90%;
    right: 0;

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      justify-content: space-around;
    }
  }
}

@keyframes cart-appear {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
